

{% extends 'base.html' %}
{% load static%}
{% block body %}
<main class="site-main">
<!--start banner-->
<section class="site-banner">
  <div class="container" >
    <div class="row" style="background-color: antiquewhite;border-radius: 10px;box-shadow: 10px 10px 5px grey;">
      <div class="col-lg-6 col-md-12 site-title">
        </br>
        </br>
        </br>
        </br>
        </br>
        <center>
        <div class="container">
          <h1 class="title-text-upprrcase" style="font-size: 50px;" id="effect"></h1>
        <h4 class="title-text-upprrcase">Vectors & Illustrator</h4>
        <div class="site-button">
          <div>
            <a type="button" class="btn button primary-button mr-4 text-upprrcase" href="https://www.fiverr.com/shubhamsaroj" target="_blank">Fiverr</a>
          </div>
        </div>
        </div>
      </center>
      </div>
    </br>
      <div class="col-lg-6 col-md-12 banner-image" style="background-color:cornsilk;">
        
        <img srcset="https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/106597002_2819549394991836_2546933066677797776_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=iog2C6F_WUkAX9pG35s&oh=80053a4e3af83cb2e12ec3955290962a&oe=5F729EF3 640w,https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/106597002_2819549394991836_2546933066677797776_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=iog2C6F_WUkAX9pG35s&oh=a0c645d06bcb016a1f6e5fbae817d4f2&oe=5F700B4C 750w,https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/e35/106597002_2819549394991836_2546933066677797776_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=100&_nc_ohc=iog2C6F_WUkAX9pG35s&oh=6645e90eb12ed65e555b102c6a6ebc7e&oe=5F723EEC 1080w" alt="Banner" class="img-fluid"  >
  
      </div>
    </div>
  </div>
</section>

<!--End banner-->
<!--About Area -->
<section class="about-area" id="about">
  <div class="container-fluid" style="background-color:yellow;border-radius: 10px;box-shadow: 10px 10px 5px grey;">
    <div class="row">
      <div class="col-lg-6 col-md-12" style="background-color: white;">
        <div class="about-image">
          <img src="media/about.jpeg" alt="About us" class="img-fluid" style="padding-top: 20%;padding-left: 20%;">
        </div>
      </div>
      <div class="col-lg-6 col-md-12 about-title">
        <center>
          <h2 class="text-uppercase pt-5">
            <span>Let Me Introduce Myself</span>
            
          </h2>
          <div class="paragraph py w-75">
            <p class="para">
             Myself Shubham Saroj from India. I make Cartoon Portraits, Vector Portraits,Caricatures, Illustrations, Drawing and etc. It is my hobby to make such art. 
            </p>
            <p class="para">
              I create these Art on requests for others too.If you are one of them who would like to purchase these arts kindly contact me. You can always gift these to your loved ones.
            </p>
  
          </div>
          <a type="button" class="btn button primary-button text-upprrcase" href="https://www.instagram.com/_animator___7/" target="_blank">Instagram</a>
        </div>
        </center>
        
    </div>
  </div>
</section>
<!--End About Area -->
<!--Start Services Area-->

<section class="services-area" id="services">
  <div class="container" style="background-color:rgb(255, 0, 0);border-radius: 10px;box-shadow: 10px 10px 5px grey;">
    <div class="row">
      <div class="col-lg-12 text-center service-title">
        <h1 class="text-uppercase title-text" >Services Offered</h1>
        
      </div>
    </div>
    <div class="container services-list">
      <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12" >
          <div class="services">
            <div class="services-img text-center py-4">
              <img class="image" srcset="https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/104166709_268163371080073_1788988210355898484_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=Xb-y0-qeM3AAX-kR4Se&oh=226418f1e7907db513d9353749f8e81c&oe=5F4DAB05 640w,https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s750x750/104166709_268163371080073_1788988210355898484_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=Xb-y0-qeM3AAX-kR4Se&oh=f3f19fbf3f5bae3071e07c49fce74138&oe=5F4D1A41 750w,https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/e35/104166709_268163371080073_1788988210355898484_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=101&_nc_ohc=Xb-y0-qeM3AAX-kR4Se&oh=c245ea209da8c7d0886a4f10b2b3177d&oe=5F4EC0BF 1080w" alt="Service-1">
            </div>
            <h5 class="card-body text-uppercase text-center font-roboto">Illustrations</h5>
            <p class="card-text text-center">
              An illustration is a decoration, or visual explanation, concept or process,designed for integration in published media, such as posters,animations, video games.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="services">
            <div class="services-img text-center py-4">
              <img class="image" srcset="media/services/s3.png" alt="Service-1">
            </div>
            <h5 class="card-body text-uppercase text-center font-roboto">Cartoon Portraits</h5>
            <p class="card-text text-center">
              A cartoon is a simplified illustration that has a quick, whimsical style to it. Anything can be drawn as a cartoon whether it's a person, animal or scenery.
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="services">
            <div class="services-img text-center py-4">
              <img class="image" src="https://instagram.fbom10-1.fna.fbcdn.net/v/t51.2885-15/sh0.08/e35/s640x640/106004583_859586584531256_6073809894791946313_n.jpg?_nc_ht=instagram.fbom10-1.fna.fbcdn.net&_nc_cat=108&_nc_ohc=WAST7QTsqs4AX9b8Fwd&oh=16c2ea348f2e9d2b7a423240fcc19217&oe=5F25F01B" alt="Service-1">
            </div>
            <h5 class="card-body text-uppercase text-center font-roboto">Caricatures</h5>
            <p class="card-text text-center">
              Painting or drawing in which a person is presented in a comic,light by distorting their features.It may be used to interpret the character of a person, event. 
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12">
          <div class="services">
            <div class="services-img text-center py-4">
              <img class="image" src="media/services/s2.png" alt="Service-1">
            </div>
            <h5 class="card-body text-uppercase text-center font-roboto">Vector Portraits</h5>
            <p class="card-text text-center">
              They are simple pictures that are made up of basic colors, sizes and forms. These portraits can be easily made from pictures and can have a great result. 
            </p>
          </div>
        </div>

      
      </div>
    </div>


  </div>
</section>

<!--End Services Area-->

<!--Project Area-->
<section class="project-area" id="gallery">
  <div class="container" style="background-color:cyan;border-radius: 10px;box-shadow: 10px 10px 5px grey;">
    <center>
      <div class="project-title pb-5">
        <h1 class="text-uppercase title-text">Recently Done Quality Work</h1>
        
    </div>
    </center>
      

  <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-4a08db36-b677-420e-9572-3012119aa6d9"></div>
  </div>
</br>
</br>
  <div class="container" style="background-color:orange;border-radius: 10px;box-shadow: 10px 10px 5px grey;">
    <section id="contact" >
      <center>
      <h1 class="text-uppercase title-text">Check out my Work on Fiverr</h1>
      
      <!-- Put this code anywhere in the body of your page where you want the badge to show up. -->
      
      <div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
           <a itemprop='url' href=https://www.fiverr.com/shubhamsaroj rel="nofollow" target="_blank" style='display: inline-block;'>
              <div class='fiverr-seller-content' id='fiverr-seller-widget-content-1c09b3cf-153e-441c-baae-5292de0a299f' itemprop='contentURL' style='display: none;'></div>
              <div id='fiverr-widget-seller-data' style='display: none;'>
                  <div itemprop='name' >shubhamsaroj</div>
                  <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
                  <div itemprop='jobtitle'>Seller</div>
                  <div itemprop='description'>I'm Shubham Saroj, from India, I create attractive intro and outro video, photoshop and graphic design                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  </div>
              </div>
          </a>
      </div>
      
      <script id='fiverr-seller-widget-script-1c09b3cf-153e-441c-baae-5292de0a299f' src='https://widgets.fiverr.com/api/v1/seller/shubhamsaroj?widget_id=1c09b3cf-153e-441c-baae-5292de0a299f' data-config='{"category_name":"Graphics \u0026 Design"}' async='true' defer='true'></script>
      <h2 class="text-uppercase title-text" font-size="small">Whatsapp Me Now!
      <a type="button" href="https://wa.link/lj7lyv" target="_blank"><i class="fab fa-whatsapp"></i></a>
      </center>
      </section>
  </div>


        <!--  ========================== Subscribe me Area ============================  -->
        <div class="container" >
        <section class="subscribe-us-area">
          <div class="container subscribe" >
              <div class="row" >
                  <div class="col-lg-12 text-center subscribe-title">
                      <h4 class="text-uppercase">Contact Now</h4>
                      <p class="para">Please Fill in the details.</p>
                  </div>
              </div>
              <div class="d-sm-flex justify-content-center">
                <form action="/contact" method="post">
          
                  {% csrf_token %}
                      <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" id="name" name="name"  >
                      </div>
                      <div class="form-group">
                          <label for="email">Email address</label>
                          <input type="email" class="form-control" id="email" name="email" >
                        
                      </div>
                      <div class="form-group">
                          <label for="phone">Phone Number</label>
                          <input type="phone" class="form-control " id="phone" name="phone">
                    
                      </div>
                      <div class="form-group">
                          <label for="content">Describe</label>
                          <textarea class="form-control" name="content" id="content" name="content" cols="30" row="5"></textarea>
                      </div>
                      <button type="submit" class="btn btn-success float-center">Submit</button>
                  </form>
              </div>
          </div>
      </section>
    </div>
      <!--  ========================== End Subscribe me Area ============================  -->
</main>
{% endblock body %}